body{
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    font-family: 'Young Serif', serif;
    font-weight: 100;
    background-color: hsl(30, 54%, 90%);
    justify-content: center;
    align-items: center;
}
style, title{
    display:none;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    width:calc(1vw*40);
    background-color:  hsl(0, 0%, 100%);
    padding:15px;
    border-radius: 10px;
    line-height: 1.5;
}
.main h1, .main h2{
    font-family: 'Young Serif', serif;
}
p, li{
    font-size: 16px;
    color:hsl(24, 5%, 18%);
}
h1{
    
    color:hsl(24, 5%, 18%);
}
footer{
    margin-top: auto;
}

.picture{
    width:calc(1vw*39);
    border-radius: 10px;
}
h2{
    color:hsl(14, 45%, 36%);
}
h3{
    color:hsl(332, 51%, 32%);
    font-weight: 900;
    padding: 0 1em;
    text-shadow: 0px 0px 1px hsl(332, 51%, 32%);
}
strong{
    font-weight: 900;
    text-shadow: 0px 0px 1px;
}
.timeContainer{
    background-color:hsl(330, 100%, 98%);
    width:calc(1vw*39);
    border-radius: 10px;
}
.timeContainer li::marker{
    color:hsl(332, 51%, 32%);
}
.ingredientsDiv li::marker{
    color:hsl(14, 45%, 36%);
}
.instructionsDiv li::marker{
    color:hsl(14, 45%, 36%);
    font-weight: 900;

}
.nutritionDiv, .instructionsDiv{
    border-top: solid 1px hsl(30, 18%, 87%);
}
.nRow{
    display: flex;
    
}
.cal, .carb, .pro{
    border-bottom: solid 1px hsl(30, 18%, 87%);
}

.nValue{
    color:hsl(14, 45%, 36%);
}

.nRow p{
    width:50%;
}

.ingredientsDiv, .instructionsDiv, .nutritionDiv{
    width:calc(1vw*39);
}
.description{
    margin-top: auto;
}

footer{
    font-family: "Outfit", sans-serif;
    width:calc(1vw*50);
    font-size: 16px;
    text-align: center;
    margin-top: 2vh;
    line-height: 1.5;
}
footer a{
    color:black;
    text-decoration:none;
}
footer a:hover{
    text-shadow: 0px 0px 3px rgb(221, 180, 165);
    color:coral;
}
@media screen and (max-width:800px) {
    .main{
        width:calc(1vw*70);
        padding:0 1em;
        position: relative;
    }
    .picture{
        width: calc(100% + 2em);
        position: relative;
        border-radius: 0px;
    }
    .timeContainer{
        width:calc(1vw*69);
    }
    h1{
        text-align: center;
        padding: auto 1em;
        
    }
    .ingredientsDiv, .instructionsDiv, .nutritionDiv, .description{
      width: calc(1vw*69);
   
    }
    p,li{
        font-size: 16px;

    }
    li{
        margin-top:1em;
    }
}
